src/main/mule/githubactions-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="githubactions-cicdFlow" doc:id="89d3a314-78f3-490f-883f-dffce55f97c5" >
		<scheduler doc:name="Scheduler" doc:id="01dcccfc-2297-4bad-bd08-0a4aa7095cc7" >
			<scheduling-strategy >
				<fixed-frequency frequency="2" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="d00b474f-64d4-466e-a79b-f1db42901522" message='#["I am working fine."]'/>
	</flow>
</mule>
